.workCard {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-text);
}

/* .workCard:last-of-type {
  border-bottom: none;
} */

.workCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-text);
}

.workCardYear {
  padding: 0.75rem calc(var(--padding-global) / 2);
  border-right: 1px solid var(--color-text);
}

.workCardScope {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: calc(var(--padding-global) / 2);
}

.scopeCircle {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-bg);
  border-radius: 50%;
  font-size: 0.8rem;
}

.cardScope {
  font-family: neue-haas-grotesk-display, sans-serif;
}

.workCardImage {
  height: 30rem;
  background-color: gray;
}

.workImage {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.workCardTitle {
  padding: 0.75rem calc(var(--padding-global) / 2);
}
